@import "@scss/vars";

.contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 1399px) {
        font-size: 14px;
        line-height: 130%;
    }

    @media (max-width: 575px) {
        margin-top: 20px;
        font-size: 16px;
        line-height: 22px;
        gap: 12px;
    }

    li {

    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;

        @media ((hover: hover) and (pointer:fine)) {
            &[href]:hover {
                .contacts-item__text {
                    text-decoration-color: transparent;
                }
            }
        }

        &[href] {
            .contacts-item__text {
                text-decoration: underline;
                text-underline-position: under;
            }
        }

        &__image {
            min-width: 24px;
            width: 24px;
            height: 24px;
            
            @media (max-width: 1199px) {
                display: none;
            }
            
            @media (max-width: 767px) {
                display: block;
            }

            img {
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: contain;
                display: block;
            }
        }

        &__text {
            color: #DFDFE1;
            transition: all ease .4s;
        }
    }
}