.part-form {
    padding: 90px 0 180px;

    @media (max-width: 1199px) {
        padding: 80px 0 160px;
    }

    &__wrap {
        background-color: #FAFAFA;
        position: relative;
        box-shadow: 0 0 13px 0 #031E3312;
        border-radius: 16px;
        padding: 52px 40px 40px;

        @media (max-width: 575px) {
            padding: 26px 16px 16px;
        }

        &::before {
            background: linear-gradient(90deg, #06AEEF 0%, #A4ECE2 100%);
            border-radius: 16px 16px 0 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 12px;
            content: '';
            position: absolute;
            z-index: 1;
        }
    }

    &__top {
        position: relative;
        z-index: 1;
        background-color: inherit;
    }

    &__row {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 604px);
        gap: 40px;
        margin-top: 24px;
        
        @media (max-width: 1199px) {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__left {
        --ss-border-color: #DFDFE1;
        --ss-border-radius: 4px;
        --ss-bg-color: transparent;
        --ss-primary-color: #EBF3F9;
        --ss-disabled-color: #EFF0F1;

        .hs-dependent-field,
        form,
        fieldset {
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-width: 100% !important;
        }

        label {
            color: #002B3B;
        }

        .field {
            display: flex;
            flex-direction: column;
            gap: 4px;
            float: unset !important;
            width: 100% !important;
        }

        .hs_error_rollup .hs-main-font-element,
        .hs-error-msg {
            color: #EC2116;
            font-size: 14px;
            line-height: 18px;
        }

        .hs-form-required {
            color: #059DD7;
        }

        .ss-main {
            width: 100% !important;
            padding: 12px;

            &:focus {
                box-shadow: none !important;
                border: 1px solid #059DD7;
            }
        }

        .input {
            margin: 0 !important;
            width: 100% !important;

            select,
            input,
            textarea {
                display: block;
                width: 100% !important;
                border: 1px solid #DFDFE1;
                border-radius: 4px;
                background-color: transparent;
                outline: none;

                &:focus,
                &:active {
                    border: 1px solid #059DD7;
                }

                &.invalid {
                    border-color: #EC2116;
                }
            }

            select {
                height: 48px;
            }

            input {
                height: 48px;
                padding: 0 12px;
            }

            input[type="file"] {
                padding: 0;
                height: auto;
                border: none;
            }

            textarea {
                height: 156px;
                resize: none;
                padding: 12px;
            }
        }

        .hs-fieldtype-intl-phone {
            display: flex;
            width: 100% !important;
            align-items: center;
            gap: 4px;

            .ss-main {
                width: 50% !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 48px;
            }
        }

        .hs-fieldtype-intl-phone.hs-input input {
            width: 50% !important;
            float: unset !important;
        }

        .hs-button {
            margin-top: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-decoration: none;
            outline: none;
            border: none;
            transition: all ease .4s;
            width: 100%;
            padding: 12px 24px;
            background-color: #06AEEF;
            border-radius: 8px;
            font-family: $font-headers;
            font-weight: 450;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            transition: all ease .4s;

            @media (hover: hover) and (pointer:fine) {
                &:hover {
                    background-color: #0583B3;
                }
            }
        }

        .form-columns-2 {
            flex-direction: row;
            gap: 4px;

            @media (max-width: 767px) {
                flex-direction: column;
                gap: 16px;
            }
        }

        .hbspt-form {
            height: 100%;
        }

        .submitted-message {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            gap: 12px;

            & > div:first-child {
                font-family: $font-headers;
                font-weight: 450;
                font-size: 32px;
                line-height: 40px;
                color: #023D54;
                position: relative;
                padding-top: 164px;

                &::before {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    content: '';
                    width: 140px;
                    height: 140px;
                    background: url('../img/form-sended.png') center / contain no-repeat;
                }
            }

            & > div:last-child {

            }
        }
    }

    &__pretitle {

    }

    &__title {
        margin-top: 12px;
    }

    &__description {
        margin-top: 12px;
        font-size: 16px;
        line-height: 22px;

        a {
            color: #059DD7;
            text-decoration: underline;
            
            &:hover {
                text-decoration: none;
            }
        }
    }

    &__iframe {
        width: calc(100% + 80px);
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -40px;
    }

    &__right {
        width: 100%;

        @media (max-width: 1199px) {
            display: none !important;
        }
    }

    &-slider {
        &__bottom {
            margin-top: 18px;
        }
    }

    &__img {
        display: block;
        width: 100%;
        aspect-ratio: 604 / 614;
        overflow: hidden;
        border-radius: 4px 16px 16px 4px;
        align-self: flex-start;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }

    &-info {
        margin-top: 14px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        justify-content: center;
    }
}

body.single-services {

    .part-form {
        padding: 90px 0;

        @media (max-width: 1199px) {
            padding: 80px 0;
        }
    }
}

.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected,
.ss-content .ss-list .ss-option:hover {
    background-color: #EBF3F9 !important;
    color: #023D54 !important;
}