.partners-part {
  padding-block: 60px 66px;
  overflow: hidden;

  &__inner {
    overflow: hidden;
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    width: 148px;

    &:after {
      content: "";
      display: block;
      width: 1px;
      min-width: 1px;
      height: 50px;
      background-color: #EFF0F1;
    }

    img {
      min-width: 100px;
    }
  }
}
