@import "@scss/vars";

.preview-services {

    &__img {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 460 / 351;
        overflow: hidden;
        border-radius: 16px 16px 4px 4px;

        @media (max-width: 767px) {
            aspect-ratio: 328 / 200;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }

    &__title {
        margin-top: 12px;
        display: block;
    }

    &__content {
        margin-top: 8px;
    }

    &__link {
        margin-top: 16px;
    }
}