@import "@scss/vars";

.vacancies {
    padding: 0 0 140px;
    position: relative;
    margin-top: 8.61vw;

    @media (max-width: 1199px) {
        padding-top: 124px;
        margin-top: 0;
    }
    
    @media (max-width: 991px) {
        padding: 80px 0 140px;
    }

    @media (max-width: 575px) {
        padding-top: 0;
        margin-top: 22.22vw;
    }

    .car-animation {
        & > svg {
            bottom: calc(100% + 3.47vw);
            top: unset;
            aspect-ratio: 1440 / 23;

            @media (max-width: 575px) {
                bottom: calc(100% + 8.89vw);
                aspect-ratio: 361 / 16;
            }
        }
    }

    &__car-animation {
        &--pc {

        }

        &--mob {
            display: none !important;

            @media (max-width: 575px) {
                display: block !important;
            }
        }
    }

    &__row {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: flex-start;

        @media (max-width: 991px) {
            margin-top: 32px;
        }
    }

    &__button {
        margin: 40px auto 0;

        @media (max-width: 575px) {
            margin-top: 24px;
            width: 100%;
        }
    }
}